<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_robot">
  <link
    name="robot_base_link">
    <inertial>
      <origin
        xyz="0.0995067545022242 0.0174216751253712 0.00561915816733652"
        rpy="0 0 0" />
      <mass
        value="3.6973552164338" />
      <inertia
        ixx="0.0148125035857743"
        ixy="7.28256113320338E-05"
        ixz="5.07279025530631E-05"
        iyy="0.0263314861079531"
        iyz="-1.1452131197402E-07"
        izz="0.0118825011799509" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/robot_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/robot_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_after_link">
    <inertial>
      <origin
        xyz="7.42520727445295E-07 9.51973382734127E-07 0.0354207187595564"
        rpy="0 0 0" />
      <mass
        value="0.192554360111192" />
      <inertia
        ixx="7.24200489883161E-05"
        ixy="1.14666496129343E-08"
        ixz="2.12646852300743E-08"
        iyy="7.24257551548551E-05"
        iyz="-1.6604411217318E-08"
        izz="0.000124467304995246" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/left_after_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/left_after_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_after_joint"
    type="continuous">
    <origin
      xyz="-0.147074515694654 -0.0384729858248051 -0.248499619316574"
      rpy="0 0 -3.14159265358979" />
    <parent
      link="robot_base_link" />
    <child
      link="left_after_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="left_befor_link">
    <inertial>
      <origin
        xyz="3.03551086489051E-08 9.11755389263001E-07 0.0353869566835425"
        rpy="0 0 0" />
      <mass
        value="0.243221956120782" />
      <inertia
        ixx="7.56587638582769E-05"
        ixy="7.79153013670707E-10"
        ixz="2.69736443553775E-08"
        iyy="7.56823682292884E-05"
        iyz="-9.08963178377752E-10"
        izz="0.000127049368942519" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/left_befor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/left_befor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_before_joint"
    type="continuous">
    <origin
      xyz="0.229997401922067 -0.0384729858248118 -0.248499619316559"
      rpy="0 0 -3.14159265358979" />
    <parent
      link="robot_base_link" />
    <child
      link="left_befor_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_before_link">
    <inertial>
      <origin
        xyz="-7.42540032294681E-07 -9.51930433792849E-07 0.0354207187485672"
        rpy="0 0 0" />
      <mass
        value="0.192554360118823" />
      <inertia
        ixx="7.24200490243578E-05"
        ixy="1.14665689691827E-08"
        ixz="-2.1264685674363E-08"
        iyy="7.24257548611107E-05"
        iyz="1.66044212987668E-08"
        izz="0.000124467304737926" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/right_before_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/right_before_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_before_joint"
    type="continuous">
    <origin
      xyz="0.229997401922066 -0.0384729858248047 0.260700380683427"
      rpy="3.14159265358979 0 3.14159265358979" />
    <parent
      link="robot_base_link" />
    <child
      link="right_before_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_after_link">
    <inertial>
      <origin
        xyz="0.0353869566833074 -9.11755389214428E-07 3.03551087182941E-08"
        rpy="0 0 0" />
      <mass
        value="0.243221956118719" />
      <inertia
        ixx="0.000127049368934341"
        ixy="9.08963177247064E-10"
        ixz="2.69736443535227E-08"
        iyy="7.5682368228035E-05"
        iyz="-7.79156140211504E-10"
        izz="7.56587638517676E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/right_after_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/right_after_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_after_joint"
    type="continuous">
    <origin
      xyz="-0.14707451569465 -0.0384729858248003 0.260700380683427"
      rpy="0 1.5707963267949 0" />
    <parent
      link="robot_base_link" />
    <child
      link="right_after_link" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="J1_link">
    <inertial>
      <origin
        xyz="-0.0297431443822529 0.0531457953915111 0.0673197994257506"
        rpy="0 0 0" />
      <mass
        value="0.847544109052371" />
      <inertia
        ixx="0.0016886116546295"
        ixy="-4.71713411468915E-05"
        ixz="-3.00204719098749E-06"
        iyy="0.000767655693841575"
        iyz="-5.88462853836084E-05"
        izz="0.00148282513892288" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1_joint"
    type="revolute">
    <origin
      xyz="0.189301311254835 0.07 0.00290782987848454"
      rpy="-1.5707963267949 1.5707963267949 0" />
    <parent
      link="robot_base_link" />
    <child
      link="J1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.1775"
      upper="1.1775"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J2_link">
    <inertial>
      <origin
        xyz="-0.0601855403297451 -0.031310645574901 0.0898111547134416"
        rpy="0 0 0" />
      <mass
        value="1.51834737973212" />
      <inertia
        ixx="0.00272255801012103"
        ixy="-0.0032979503921152"
        ixz="4.28665137799158E-08"
        iyy="0.00810055690166686"
        iyz="-3.32466982647619E-09"
        izz="0.0106155931074199" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2_joint"
    type="revolute">
    <origin
      xyz="0.0815435988166945 -0.00416701236161837 0.102"
      rpy="-1.5707963267949 0 1.51973909018581" />
    <parent
      link="J1_link" />
    <child
      link="J2_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J3_link">
    <inertial>
      <origin
        xyz="-0.0100254476216187 0.0256096363835012 0.0863340949111583"
        rpy="0 0 0" />
      <mass
        value="0.705419071317585" />
      <inertia
        ixx="0.000492025444458446"
        ixy="3.78816189193626E-05"
        ixz="1.50460515534303E-08"
        iyy="0.000425177172327826"
        iyz="4.63730893430865E-08"
        izz="0.000678853261649934" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3_joint"
    type="revolute">
    <origin
      xyz="-0.297380428115131 -0.143055517104597 0.0288999999999909"
      rpy="0 0 0" />
    <parent
      link="J2_link" />
    <child
      link="J3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J4_link">
    <inertial>
      <origin
        xyz="-0.000205762570766294 -6.48526771673819E-05 -0.0377874978480776"
        rpy="0 0 0" />
      <mass
        value="0.269784889847788" />
      <inertia
        ixx="0.000135815904566842"
        ixy="2.80829422850735E-06"
        ixz="-2.28998119388626E-07"
        iyy="0.000104184219436154"
        iyz="-7.25715050601362E-08"
        izz="0.000123682718537615" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4_joint"
    type="continuous">
    <origin
      xyz="-0.0520591601532436 0.1152913433183 0.0550000000000078"
      rpy="1.57079632679501 1.52425622041413 0.424137505817387" />
    <parent
      link="J3_link" />
    <child
      link="J4_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="J5_link">
    <inertial>
      <origin
        xyz="0.0664672467392794 -0.0274392530646392 0.0292816534560064"
        rpy="0 0 0" />
      <mass
        value="0.284892561638528" />
      <inertia
        ixx="0.000138493390498618"
        ixy="0.000135364917787168"
        ixz="-3.17530111541562E-08"
        iyy="0.000411477570248075"
        iyz="1.73421393984099E-08"
        izz="0.000530922181772289" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5_joint"
    type="revolute">
    <origin
      xyz="0.0423315447474402 0.00378025386648639 -0.0600000000000362"
      rpy="1.5707963267949 -0.231927791500107 -1.48173147181141" />
    <parent
      link="J4_link" />
    <child
      link="J5_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J6_link">
    <inertial>
      <origin
        xyz="-0.00413505814089765 -0.00484905879306041 0.0516128117682829"
        rpy="0 0 0" />
      <mass
        value="0.201020765205268" />
      <inertia
        ixx="6.26088013041597E-05"
        ixy="1.09928205527936E-05"
        ixz="5.14295008788505E-07"
        iyy="6.62221037873461E-05"
        iyz="-5.15644134121836E-07"
        izz="5.00847395439532E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6_joint"
    type="revolute">
    <origin
      xyz="0.150256395086882 -0.0618810612020733 -0.0155000000000037"
      rpy="0 0 0" />
    <parent
      link="J5_link" />
    <child
      link="J6_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J7_link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 1.11022302462516E-16 -0.00116219878612298"
        rpy="0 0 0" />
      <mass
        value="0.0597753057548309" />
      <inertia
        ixx="3.0537874170693E-05"
        ixy="4.28148685057447E-21"
        ixz="2.31610571514848E-21"
        iyy="3.0537874170693E-05"
        iyz="4.2351647362715E-22"
        izz="5.0172092133464E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J7_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/J7_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J7_joint"
    type="continuous">
    <origin
      xyz="-0.0394368251984132 -0.0465374775666559 0.0515999999999899"
      rpy="-1.57079632679491 1.50090735517209 -0.702994782778823" />
    <parent
      link="J6_link" />
    <child
      link="J7_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>