<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_robot">
  <link name="dummy"> 
  </link>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="robot_base_link"/>
    <origin
      xyz="0 0 0.1"
      rpy="0 0 0" />
  </joint>
  <link
    name="robot_base_link">
    <inertial>
      <origin
        xyz="0.0557861538209737 0.00187157090588302 0.0559205634077498"
        rpy="0 0 0" />
      <mass
        value="3.72431445026937" />
      <inertia
        ixx="0.0149503298347274"
        ixy="-5.06911689925803E-05"
        ixz="7.28256113320338E-05"
        iyy="0.0119089082395032"
        iyz="1.14521311976476E-07"
        izz="0.026495701443636" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/robot_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/robot_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_after_link">
    <inertial>
      <origin
        xyz="7.45870764998213E-07 9.4846191759073E-07 0.0354207175520367"
        rpy="0 0 0" />
      <mass
        value="0.192554371338558" />
      <inertia
        ixx="7.2420057965185E-05"
        ixy="1.14748969000156E-08"
        ixz="2.12639912439918E-08"
        iyy="7.24257690254219E-05"
        iyz="-1.66039781842761E-08"
        izz="0.000124467327931184" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/left_after_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/left_after_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_after_joint"
    type="continuous">
    <origin
      xyz="-0.188535958808364 0.254600000000006 0"
      rpy="-1.5707963267949 0 -3.14159265358979" />
    <parent
      link="robot_base_link" />
    <child
      link="left_after_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="left_befor_link">
    <inertial>
      <origin
        xyz="3.04475208379174E-08 9.11192757294208E-07 0.0353869566933632"
        rpy="0 0 0" />
      <mass
        value="0.243221967341035" />
      <inertia
        ixx="7.56587664669174E-05"
        ixy="7.76172259100974E-10"
        ixz="2.69728261637892E-08"
        iyy="7.5682388462307E-05"
        iyz="-9.09097859665879E-10"
        izz="0.000127049391872566" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/left_befor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/left_befor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_before_joint"
    type="continuous">
    <origin
      xyz="0.188535958808357 0.254599999999991 0"
      rpy="-1.5707963267949 0 3.14159265358978" />
    <parent
      link="robot_base_link" />
    <child
      link="left_befor_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_before_link">
    <inertial>
      <origin
        xyz="-7.45890070097399E-07 -9.48418968657258E-07 0.0354207175410472"
        rpy="0 0 0" />
      <mass
        value="0.192554371346189" />
      <inertia
        ixx="7.24200580012262E-05"
        ixy="1.14748162559678E-08"
        ixz="-2.12639916882875E-08"
        iyy="7.24257687316774E-05"
        iyz="1.66039882657349E-08"
        izz="0.000124467327673864" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/right_before_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/right_before_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_before_joint"
    type="continuous">
    <origin
      xyz="0.188535958808356 -0.254599999999996 0"
      rpy="1.5707963267949 0 3.14159265358978" />
    <parent
      link="robot_base_link" />
    <child
      link="right_before_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_after_link">
    <inertial>
      <origin
        xyz="0.0353869566931278 -9.11192757249973E-07 3.04475209489397E-08"
        rpy="0 0 0" />
      <mass
        value="0.243221967338972" />
      <inertia
        ixx="0.000127049391864388"
        ixy="9.09097858536065E-10"
        ixz="2.69728261619384E-08"
        iyy="7.56823884610534E-05"
        iyz="-7.7617538566618E-10"
        izz="7.5658766460408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/right_after_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/right_after_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_after_joint"
    type="continuous">
    <origin
      xyz="-0.18853595880836 -0.254599999999995 0"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="robot_base_link" />
    <child
      link="right_after_link" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="J1_link">
    <inertial>
      <origin
        xyz="-0.0285411106440401 0.0429168830524067 0.0773130252438191"
        rpy="0 0 0" />
      <mass
        value="1.23425990593155" />
      <inertia
        ixx="0.00245732440130179"
        ixy="-6.93539570307653E-05"
        ixz="-1.91831009373814E-06"
        iyy="0.0011034112193095"
        iyz="-3.76390124708488E-05"
        izz="0.00196037219555563" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1_joint"
    type="revolute">
    <origin
      xyz="0.147839868141125 0.00319255080494721 0.108472985824806"
      rpy="0 0 1.5707963267949" />
    <parent
      link="robot_base_link" />
    <child
      link="J1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.1775"
      upper="1.1775"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J2_link">
    <inertial>
      <origin
        xyz="-0.0917337229548938 -0.0443127031434655 0.0823683551400839"
        rpy="0 0 0" />
      <mass
        value="1.10586856399633" />
      <inertia
        ixx="0.00238529276204294"
        ixy="-0.00327671544661274"
        ixz="4.30054064959765E-08"
        iyy="0.0076203665612717"
        iyz="-3.33513763855491E-09"
        izz="0.00984076682272948" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2_joint"
    type="revolute">
    <origin
      xyz="0.0815435988166945 -0.00416701236161837 0.102"
      rpy="-1.5707963267949 0 1.51973909018581" />
    <parent
      link="J1_link" />
    <child
      link="J2_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J3_link">
    <inertial>
      <origin
        xyz="-0.00808807953201074 0.0180218444035171 0.0958500349372893"
        rpy="0 0 0" />
      <mass
        value="0.538855476414292" />
      <inertia
        ixx="0.000440838175719664"
        ixy="3.69856802215964E-05"
        ixz="5.43707781309796E-09"
        iyy="0.000375565273656402"
        iyz="1.33476577208974E-08"
        izz="0.000633366401386816" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3_joint"
    type="revolute">
    <origin
      xyz="-0.297380428115131 -0.143055517104597 0.0288999999999909"
      rpy="0 0 0" />
    <parent
      link="J2_link" />
    <child
      link="J3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J4_link">
    <inertial>
      <origin
        xyz="-0.00621217584256437 -0.000586466204593461 -0.0253608915174659"
        rpy="0 0 0" />
      <mass
        value="0.172878482049537" />
      <inertia
        ixx="9.74868545665381E-05"
        ixy="1.95087506354178E-06"
        ixz="-2.50946689261312E-07"
        iyy="7.57919100360528E-05"
        iyz="-5.67350689769877E-08"
        izz="9.54214366157793E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4_joint"
    type="continuous">
    <origin
      xyz="-0.0520591601532436 0.1152913433183 0.0550000000000078"
      rpy="1.57079632679501 1.52425622041413 0.424137505817387" />
    <parent
      link="J3_link" />
    <child
      link="J4_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="J5_link">
    <inertial>
      <origin
        xyz="0.0700683577980609 -0.0288571656768886 0.0306239926554916"
        rpy="0 0 0" />
      <mass
        value="0.18220557422278" />
      <inertia
        ixx="0.000109362011186696"
        ixy="0.000135300090868651"
        ixz="-1.4392919811699E-08"
        iyy="0.000382169190275597"
        iyz="5.87407201213818E-09"
        izz="0.000490748781800861" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5_joint"
    type="revolute">
    <origin
      xyz="0.0423315447474402 0.00378025386648639 -0.0600000000000362"
      rpy="1.5707963267949 -0.231927791500107 -1.48173147181141" />
    <parent
      link="J4_link" />
    <child
      link="J5_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J6_link">
    <inertial>
      <origin
        xyz="-0.00413505814089754 -0.00484905879306041 0.0516128117682829"
        rpy="0 0 0" />
      <mass
        value="0.201020765205268" />
      <inertia
        ixx="6.26088013041597E-05"
        ixy="1.09928205527936E-05"
        ixz="5.14295008788505E-07"
        iyy="6.62221037873461E-05"
        iyz="-5.15644134121837E-07"
        izz="5.00847395439532E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6_joint"
    type="revolute">
    <origin
      xyz="0.15026 -0.061881 -0.0155"
      rpy="0 0 0" />
    <parent
      link="J5_link" />
    <child
      link="J6_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J7_link">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 1.11022302462516E-16 -0.00116219878612298"
        rpy="0 0 0" />
      <mass
        value="0.0597753057548309" />
      <inertia
        ixx="3.0537874170693E-05"
        ixy="4.22192984647065E-21"
        ixz="3.58955026817386E-21"
        iyy="3.0537874170693E-05"
        iyz="1.37642853928824E-21"
        izz="5.0172092133464E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J7_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find test_robot)/meshes/J7_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J7_joint"
    type="continuous">
    <origin
      xyz="-0.039437 -0.046537 0.0516"
      rpy="-1.5708 1.5009 -0.70299" />
    <parent
      link="J6_link" />
    <child
      link="J7_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>