<gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find exchange_station_sim)/config/ros2_controllers.yaml</parameters>
        <ros>
            <namespace>/exchange_station</namespace>
        </ros>
    </plugin>
</gazebo>