<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <xacro:include filename="$(find test_robot)/urdf/test_robot.urdf" />

    <xacro:include filename="test_robot.ros2_control.xacro" />

    <gazebo>
        <xacro:include filename="test_robot.gazebo_config.urdf" />
    </gazebo>

    <xacro:test_robot_ros2_control name="GazeboSimSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
